[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-rest-swagger = "*"

[dev-packages]
coverage = {extras = ["toml"], version = "*"}

[requires]
python_version = "3.10"
