{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot your password? <a href="{{ url_for('accounts.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('accounts.register') }}">Click here to register</a>.</p>
</div>
{% endblock %}
