{% extends "base.html" %}

{% block title %}{{ report }}{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>{{ report }}</h1>
  </div>

  <div id="income">
    {% for income in report.incomes %}
      {{income}}
    {% endfor %}
  </div>

  <div id="income-form" class="row">
    <div class="col-sm-12">
      Add Income Source
      <form method="POST" action="{{ url_for('debt.create_report') }}">
        {{ income_form.csrf_token }}
        <input type="text" id="income-amount" name="amount" placeholder="Income Amount">
        <select name="frequency">
          <option value="1">Hourly</option>
          <option value="2">Weekly</option>
          <option value="3">Every Two Weeks</option>
          <option value="4">Monthly</option>
        </select>
        <input type="text" id="income-name" name="source" placeholder="Income Name">
        <input type="submit" class="btn btn-info" value="Add Income Source">
      </form>
    </div>
  </div>

  <div id="credit-card">
    {% for credit_card in report.credit_cards %}
      {{credit_card}}
    {% endfor %}
  </div>

  <div id="credit-card-form" class="row">
    <div class="col-sm-12">
      Add Credit Card
      <form method="POST" action="{{ url_for('debt.create_credit_card', report_id=report.id) }}">
        {{ credit_card_form.csrf_token }}
        <input type="text" id="credit-card-name" name="name" placeholder="Credit Card Name">
        <input type="text" id="credit-card-balance" name="owed" placeholder="Amount Owed">
        <input type="text" id="credit-card-interest" name="interest_rate" placeholder="Interest Rate">
        <input type="submit" class="btn btn-info" value="Add Credit Card">
      </form>
    </div>
  </div>

  <div id="overdraft-form" class="row">
    <div class="col-sm-12">
      Overdraft
      <form method="POST" action="{{ url_for('debt.create_report') }}">
        {{ overdraft_form.csrf_token }}
        <input type="text" id="overdraft-balance" placeholder="Amount Owed">
        <input type="text" id="overdraft-name" placeholder="Overdraft Account Name">
        <input type="submit" class="btn btn-info" value="Add Overdraft Account">
      </form>
    </div>
  </div>
{% endblock page_content %}
