<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %} | Debt</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  {# Bootstrap #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap-3.2.0/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap-3.2.0/css/bootstrap-theme.min.css') }}">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock css %}
</head>

<body>
  {% block navbar %}
  <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('main.index') }}">Home</a></li>
                  {% if current_user.is_authenticated() %}
                  <li><a href="{{ url_for('accounts.user', username=current_user.username) }}">Profile</a></li>
                  {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated() %}
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <img src="{{ current_user.gravatar(size=18) }}">
                          Account <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="{{ url_for('accounts.change_password') }}">Change Password</a></li>
                          <li><a href="{{ url_for('accounts.change_email_request') }}">Change Email</a></li>
                          <li><a href="{{ url_for('accounts.logout') }}">Log Out</a></li>
                      </ul>
                  </li>
                  {% else %}
                  <li><a href="{{ url_for('accounts.login') }}">Log In</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </div>
  {% endblock navbar %}

  {% block content %}
  <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
      </div>
      {% endfor %}

      {% block page_content %}{% endblock %}
  </div>
  {% endblock content %}
  {% block js %}
    <script src="{{ url_for('static', filename='vendor/jquery-2.1.1.min.js') }}" type="text/JavaScript"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-3.2.0/js/bootstrap.min.js') }}" type="text/JavaScript"></script>
  {% endblock js %}
</body>
</html>
